<div class="row  border-bottom white-bg dashboard-header">
  <div class="row text-center as400Header">
    <h2>{{ title }}</h2>
  </div>

  <div class="row as400Body">
    <div class="row as400Subtitle">
      <h3>CONSULTA DE LEYENDAS</h3>
    </div>
    <div class="row">
     

      <div class="row">
        <div class="col-md-9 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Cuenta.:
          </label>
          <strong class="col-sm-6 control-label">
            {{ zrstrecmm01.p1orgn }} {{ zrstrecmm01.p1logo }} {{ zrstrecmm01.p1acnb }} {{ zrstrecmm01.p1apen }}
          </strong>
        </div>
      </div>


      <div class="row">
        <div class="col-md-2 col-md-offset-2 form-group">
          <label class="col-sm-3 control-label">
            Fecha Facturación :
          </label>
          <strong class="col-sm-9 control-label pull-right">
            {{ zrstrecmm01.p1fec | date:'MM/yyyy' }}
          </strong>
        </div>
        <div class="col-md-3 col-md-offset-2 form-group">
          <label class="col-sm-3 control-label">
            Ciclo :
          </label>
          <strong class="col-sm-9 control-label pull-right">
            {{ zrstrecmm01.p1bicy }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-md-offset-2 form-group">
          <label class="col-sm-3 control-label text-center">
            Indique el mailing que desea consultar:
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-2 form-group">
          <span class="input-group-btn">
            <button type="button" type="submit" class="btn btn-primary" [routerLink]="['/zrstrecmv2', zrstrecmm01.p1orgn, zrstrecmm01.p1logo, zrstrecmm01.p1acnb, 20, 09,  zrstrecmm01.p1bicy, 17 ]">
              <i class="fa fa-envelope"></i> Mailing de Marketing
            </button>
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-md-offset-2 form-group">
          <span class="input-group-btn">
            <button type="button" type="submit" class="btn btn-primary" [routerLink]="['/zrstrecmv2', zrstrecmm01.p1orgn, zrstrecmm01.p1logo, zrstrecmm01.p1acnb, 20, 09,  zrstrecmm01.p1bicy, 17 ]">
              <i class="fa fa-envelope-o"></i> Mailing de Servicios
            </button>
          </span>
        </div>
      </div>

    </div>
  </div>

  <div class="row as400Footer">
    <div class="col lg-12" style="text-align: center;">
      <button class="btn btn-primary " type="button" [routerLink]="['/home']">
        Regresar
      </button>
    </div>
  </div>

</div>