<div class="row  border-bottom white-bg dashboard-header">
  <div class="row text-center as400Header">
    <h2>{{ title }}</h2>
  </div>

  <div class="row as400Body">
    <div class="row as400Subtitle">
      <h3>CONSULTA DE LEYENDAS</h3>
    </div>
    <div class="row">
      
      <div class="row">
        <div class="col-md-9 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Cuenta.:
          </label>
          <strong class="col-sm-6 control-label">
            {{ zrstreclm02.C2ORGN }} {{ zrstreclm02.C2LOGO }} {{ zrstreclm02.C2ACNB }} {{ zrstreclm02.C2APEN }}
          </strong>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-2 col-md-offset-2 form-group">
          <label class="col-sm-3 control-label">
            Fecha Facturación :
          </label>
          <strong class="col-sm-9 control-label pull-right">
            {{ zrstreclm02.C2FEC | date:'MM/yyyy' }}
          </strong>
        </div>
        <div class="col-md-3 col-md-offset-2 form-group">
          <label class="col-sm-3 control-label">
            Ciclo :
          </label>
          <strong class="col-sm-9 control-label pull-right">
            {{ zrstreclm02.C2BICY }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-md-offset-2 form-group">
          <label class="col-sm-3 control-label text-center">
            SEGUNDO CUERPO
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9 col-md-offset-2 form-group">
          <label class="col-sm-12 control-label">
            {{ zrstreclm02.SFLEY2 }}
          </label>
        </div>
      </div>

    </div>
  </div>

  <div class="row as400Footer">
    <div class="col lg-12" style="text-align: center;">
      <button class="btn btn-primary " type="button" [routerLink]="['/zrstreclv1', zrstreclm02.C2ORGN]">
        Regresar
      </button>
    </div>
  </div>

</div>