<div class="row  border-bottom white-bg dashboard-header">
  <div class="row text-center as400Header">
    <h2>{{ title }}</h2>
  </div>

  <div class="row ">
    <div class="row as400Subtitle">
      <h3>PAGOS PARCIALES DE UNA CUOTA</h3>
    </div>

    <div class="row">
      <div class="row">
        <div class="col-md-3 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Crédito:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1NUCR | lpad:10:true }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Nro de Cuota:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1NCUO | lpad:3:true }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Moneda:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1MONE }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Amortiz. Pagada:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IMAP | formmoneda:2:',':'.' }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            Ing. Brutos Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IBP | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Balloon Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IMBP | formmoneda:2:',':'.' }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Seg. bien Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA2 | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Intereses Pagados:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1ICIP | formmoneda:2:',':'.' }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Intereses Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA1 | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Ajustes Pagados:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1ICAP | formmoneda:2:',':'.' }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Punitorio Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA3 | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Seg. Vida Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1ISVP | formmoneda:2:',':'.' }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Comp. Pagadp:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA5 | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Impuestos Pagados:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IISP | formmoneda:2:',':'.' }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Can. Ant. Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA7 | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Cargo Canc. Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1ICCP | formmoneda:2:',':'.' }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Ingresos Brutos:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA4 | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Seguro Bien Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1ISAP | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Portes Pagados:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1CARP | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Int. Punit. Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IIPP | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Int. Comp. Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IICP | formmoneda:2:',':'.' }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            Total Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1TPAG | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            IVA Portes Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA6 | formmoneda:2:',':'.' }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            Total Deuda:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1TDEU | formmoneda:2:',':'.' }}
          </strong>
        </div>
      </div>

    </div>
  </div>

  <div class="row as400Footer">
    <div class="col lg-12" style="text-align: center;">
      <button class="btn btn-primary " type="button" [routerLink]="['/ccrr0500v1']">
        Regresar
      </button>
    </div>
  </div>

</div>