<div class="row  border-bottom white-bg dashboard-header">
  <div class="row text-center as400Header">
    <h2>{{ title }}</h2>
  </div>

  <div class="row ">
    <div class="row as400Subtitle">
      <h3>PAGOS PARCIALES DE UNA CUOTA</h3>
    </div>

    <div class="row">
      <div class="row">
        <div class="col-md-3 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Crédito:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1NUCR }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Nro de Cuota:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1NCUO }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Moneda:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1MONE }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Amortiz. Pagada:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IMAP }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            Ing. Brutos Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IBP }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Balloon Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IMBP }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Seg. bien Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA2 }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Intereses Pagados:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1ICIP }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Intereses Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA1 }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Ajustes Pagados:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1ICAP }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Punitorio Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA3 }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Seg. Vida Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1ISVP }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Comp. Pagadp:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA5 }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Impuestos Pagados:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IISP }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Can. Ant. Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA7 }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Cargo Canc. Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1ICCP }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            IVA Ingresos Brutos:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA4 }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Seguro Bien Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1ISAP }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Portes Pagados:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1CARP }}
          </strong>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Int. Punit. Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IIPP }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            Int. Comp. Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IICP }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            Total Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1TPAG }}
          </strong>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-md-offset-2 form-group">
          <label class="col-sm-6 control-label">
            IVA Portes Pagado:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1IVA6 }}
          </strong>
        </div>
        <div class="col-md-4 form-group">
          <label class="col-sm-6 control-label">
            Total Deuda:
          </label>
          <strong class="col-sm-6 control-label">
            {{ ccrr1948m01.P1TDEU }}
          </strong>
        </div>
      </div>

    </div>
  </div>

  <div class="row as400Footer">
    <div class="col lg-12" style="text-align: center;">
      <button class="btn btn-primary " type="button" [routerLink]="['/ccrr0500v1']">
        Regresar
      </button>
    </div>
  </div>

</div>