<div class="row  border-bottom white-bg dashboard-header">
    <div class="row text-center as400Header">
        <h2>{{ title }}</h2>
    </div>

    <div class="row as400Body">
        <div class="row as400Subtitle">
            <h3>CONSULTA DE CODIGOS DE TRANSACCIONES</h3>
        </div>
        <div class="row as400Table">
            <table class="table table-striped" [mfData]="tar0077list" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="WSCODI">Cod.</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="WSDESC">Descripcion corta</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="WSDESL">Descripcion larga</mfDefaultSorter>
                        </th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of mf.data">
                        <td>{{x.WSCODI}}</td>
                        <td>{{x.WSDESC}}</td>
                        <td>{{x.WSDESL}}</td>
                        <td>
                            <a class="btn btn-primary as400ButtonInTable" [routerLink]="['/tar0077v3', x.WSCODI]">Ver</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row as400Footer">
        <div class="col lg-12" style="text-align: center;">
            <button class="btn btn-primary " type="button" [routerLink]="['/tar0077v1']">
                    Regresar
                </button>
        </div>
    </div>

</div>