<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <div>

      <h1 class="logo-name">CB+</h1>

    </div>
    <h3>Registrarse en CitiBank+</h3>
    <p>Crear una cuenta de usuario.</p>
    <form class="m-t" role="form" action="login.html">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Name" required="">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" required="">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="">
      </div>
      
      <button type="submit" class="btn btn-primary block full-width m-b">Registar</button>

      <p class="text-muted text-center">
        <small>¿Ya tienes una cuenta?</small>
      </p>
      <a class="btn btn-sm btn-white btn-block"  [routerLink]="['/login']">Logearse</a>
    </form>
    <p class="m-t">
      <small>Derechos Reservados &copy; 2018</small>
    </p>
  </div>
</div>