<div class="row  border-bottom white-bg dashboard-header">
  <div class="row text-center">
    <h2>{{ title }}</h2>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">

          <div class="row ">
            <div class="col-md-12">
              DETALLE DE CHEQUES RECHAZADOS
            </div>
          </div>
          <div class="row ">
            <div class="col-md-2 col-md-offset-2">
              Cuenta Corriente.:
              <strong>{{ cgrrcrecm04.CTACTE }}</strong>
            </div>
          
            <div class="col-md-2">
              Nro. de Cheque:
              <strong>{{ cgrrcrecm04.NUMCHQ }}</strong>
            </div>
          </div>
          <hr>

          
          <div class="row">
            <div class="col-md-6 col-md-offset-2">
              <div class="row">
                <div class="col-md-12">
                  Número de Sec:
                  <strong>{{ cgrrcrecm04.NSEC }}</strong>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-6">
                  Nro Sucursal:
                  <strong>{{ cgrrcrecm04.NUMSUC }}</strong>
                </div>
                <div class="col-md-6">
                  Causal de Rechazo:
                  <strong>{{ cgrrcrecm04.CAUSA }}</strong>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12">
                  Tipo reg. BCRA:
                  <strong>{{ cgrrcrecm04.TIPOR }}</strong>
                </div>
              </div>

            </div>

            <div class="col-md-2">
              <div class="row">
                <div class="col-md-12">
                  1 = Sin Fondos
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  2 = Motivo Formal
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  3 = Rechaz.registración
                </div>
              </div>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-12">
              <strong></strong>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-4 col-md-offset-2">
              Importe: $
              <strong  class="pull-right">{{ cgrrcrecm04.IMPORT | formmonedacero:2:',':'.' }}</strong>
            </div>

            <div class="col-md-4">
              Fecha de Rechazo:
              <strong>{{ cgrrcrecm04.FECREC | lpad:6:true | formfechados:true }}</strong>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-4 col-md-offset-2">
              Fecha Diferimiento:
              <strong class="pull-right">{{ cgrrcrecm04.FECREG | lpad:6:true | formfechados:true }}</strong>
            </div>

            <div class="col-md-4">
              Plazo Diferimiento:
              <strong>{{ cgrrcrecm04.PLADIF }}</strong>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-4 col-md-offset-2">
              Fecha Pago Cheque:
              <strong class="pull-right">{{ cgrrcrecm04.FECPCH | lpad:6:true | formfechados:true }}</strong>
            </div>

            <div class="col-md-4">
              Fecha de Debito :
              <strong class="pull-right">{{ cgrrcrecm04.FECDBT | lpad:6:true | formfechados:true }}</strong>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-4 col-md-offset-2">
              Fecha Pago Multa :
              <strong class="pull-right">{{ cgrrcrecm04.FECPM | lpad:6:true | formfechados:true }}</strong>
            </div>
            <div class="col-md-4">
              Importe Multa:
              <strong class="pull-right">{{ cgrrcrecm04.IMPMUL | formmonedacero:2:',':'.' }}</strong>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-4 col-md-offset-2">
              Fecha Devol. Multa:
              <strong class="pull-right">{{ cgrrcrecm04.FCDEVO | lpad:6:true | formfechados:true  }}</strong>
            </div>
            <div class="col-md-4">
              Imp. Devuelto Multa:
              <strong class="pull-right">{{ cgrrcrecm04.DEVMUL | formmonedacero:2:',':'.' }}</strong>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-4 col-md-offset-2">
              Número Referencia:
              <strong class="pull-right">{{ cgrrcrecm04.NUMREF }}</strong>
            </div>
            <div class="col-md-4">
              Fecha Cierre Cuenta:
              <strong class="pull-right">{{ cgrrcrecm04.FECCIE | lpad:6:true | formfechados:true }}</strong>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-12 text-center">
              <strong>CUIT - CUIL - Nro Identificatorio Asociado</strong>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 col-md-offset-2">
              <div class="row">
                <div class="col-md-12">
                  Nro. 1:
                  <strong>{{ cgrrcrecm04.CUITL1 | formatocuil }}</strong>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-6">
                  Nro 4:
                  <strong>{{ cgrrcrecm04.CUITL4 | formatocuil }}</strong>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12">
                  Nro 7:
                  <strong>{{ cgrrcrecm04.CUITL7 | formatocuil }}</strong>
                </div>
              </div>
              <div class="row ">
                <div class="col-md-12">
                  Nro. 10:
                  <strong>{{ cgrrcrecm04.CUITL0 | formatocuil }}</strong>
                </div>
              </div>
          
            </div>
          
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  Nro. 2:
                  <strong class="pull-right">{{ cgrrcrecm04.CUITL2 | formatocuil }}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  Nro. 5:
                  <strong class="pull-right">{{ cgrrcrecm04.CUITL5 | formatocuil }}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  Nro. 8:
                  <strong class="pull-right">{{ cgrrcrecm04.CUITL8 | formatocuil }}</strong>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12">
                  Nro. 3:
                  <strong class="pull-right">{{ cgrrcrecm04.CUITL3 | formatocuil }}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  Nro. 6:
                  <strong class="pull-right">{{ cgrrcrecm04.CUITL6 | formatocuil }}</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  Nro. 9:
                  <strong class="pull-right">{{ cgrrcrecm04.CUITL9 | formatocuil }}</strong>
                </div>
              </div>
            </div>

          </div>

          <div class="row ">
            <div class="col-md-3 col-md-offset-2">
              Envio BCRA:
              <strong class="pull-right">{{ cgrrcrecm04.FECENV | lpad:6:true | formfechados:true }}</strong>
            </div>
            <div class="col-md-3">
              Ingresado.:
              <strong class="pull-right">{{ cgrrcrecm04.USERI }}</strong>
            </div>
            <div class="col-md-3">
              Ult. Cambio:
              <strong class="pull-right">{{ cgrrcrecm04.FECULT | lpad:6:true | formfechados:true }}</strong>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-3 col-md-offset-2">
            </div>
            <div class="col-md-3">
              Autorizado:
              <strong class="pull-right">{{ cgrrcrecm04.USERAU }}</strong>
            </div>
            <div class="col-md-3">
              Fecha Autor:
              <strong class="pull-right">{{ cgrrcrecm04.FECAUT | lpad:6:true | formfechados:true }}</strong>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="row as400Footer">
  <div class="col lg-12" style="text-align: center;">
    <button class="btn btn-primary " type="button" (click)="backClicked()">
      Regresar
    </button>
  </div>
</div>