<div class="row  border-bottom white-bg dashboard-header">
  <div class="row text-center">
    <h2>{{ title }}</h2>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row ">
            <div class="col-md-3 col-md-offset-2">
              Número de cuenta:
              <strong>{{ fer0330m02.WNCTA | formnumcuenta }}</strong>
            </div>
            <div class="col-md-3">
              Fecha desde:
              <strong>{{ fer0330m02.WFECH }}</strong>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-2 col-md-offset-2">
              Banco:
              <strong>{{ fer0330m02.CODECO }}</strong>
            </div>
            <div class="col-md-2">
              Sucursal:
              <strong>{{ fer0330m02.DMBRCH }}</strong>
            </div>
            <div class="col-md-2">
              Moneda:
              <strong>{{ fer0330m02.DMCMCN }}</strong>
            </div>
          </div>
          <div class="row ">
            <div class="col-md-6 col-md-offset-2">
              Denominación:
              <strong>{{ fer0330m02.WNOMB1 }}</strong>
              <strong>{{ fer0330m02.WNOMB2 }}</strong>
              <strong>{{ fer0330m02.WNOMB3 }}</strong>
            </div>
          </div>

          <div class="row as400Table">
            <table class="table table-striped" [mfData]="fer0330m02.data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="FECVAL">Fecha</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="CTRAEX">Tr</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="WBATCH">Nro. Batch</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="CREF1">Referencia</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="WSDEBI">Débitos</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="WSCRED">Crédito</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="WSSALD">Saldo</mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fer0330Item of mf.data">
                  <td>
                    {{ fer0330Item.FECVAL | lpad:6:true | formfechados:true }}
                  </td>
                  <td>
                    {{ fer0330Item.CTRAEX }}
                  </td>
                  <td>
                    {{ fer0330Item.WBATCH }}
                  </td>
                  <td>
                    {{ fer0330Item.CREF1 }}
                  </td>
                  <td>
                    {{ fer0330Item.WSDEBI | formmonedacero:2:',':'.' }}
                  </td>
                  <td>
                    {{ fer0330Item.WSCRED | formmonedacero:2:',':'.' }}
                  </td>
                  <td>
                    {{ fer0330Item.WSSALD | formmonedacero:2:',':'.' }}
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4">
                    <mfBootstrapPaginator></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>



        </div>

      </div>
    </div>
  </div>
</div>
<div class="row as400Footer">
  <div class="col lg-12" style="text-align: center;">
    <button class="btn btn-primary " type="button" (click)="backClicked()">
      Regresar
    </button>
  </div>
</div>