<div class="row  border-bottom white-bg dashboard-header">
    <div class="row text-center as400Header">
        <h2>{{ title }}</h2>
    </div>

    <div class="row as400Body">
        <div class="row as400BodyCenter">
            <div class="row as400MenuItem">
                <div class="col-md-3 col-md-offset-4">
                    <label class="control-label">
                      Consulta por numero de cuenta
                    </label>
                </div>
                <div class="col-md-1">
                    <button type="button" type="submit" class="btn btn-primary" (click)="cacr205()">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="row as400MenuItem">
                <div class="col-md-3 col-md-offset-4">
                    <label class="control-label">
                        Consulta por fecha selección, estado
                    </label>
                </div>
                <div class="col-md-1">
                    <button type="button" type="submit" class="btn btn-primary" (click)="cacr210()">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="row as400MenuItem">
                <div class="col-md-3 col-md-offset-4">
                    <label class="control-label">
                        Consulta fecha selección
                    </label>
                </div>
                <div class="col-md-1">
                    <button type="button" type="submit" class="btn btn-primary" (click)="cacr216()">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row as400Footer">
        <div class="col lg-12" style="text-align: center;">

        </div>
    </div>

</div>