<div class="row  border-bottom white-bg dashboard-header">
    <div class="row text-center as400Header">
        <h2>{{ title }}</h2>
    </div>

    <div class="row as400Body">
        <div class="row as400Subtitle">
            <h3>CONSULTA HISTÓRICA DE RENOVACIÓN DE ACUERDOS</h3>
            <h4>Consulta por FECHA SELECCION, SUCURSAL, ESTADO, NVO. RECHAZO</h4>
        </div>
        <div class="row">


            <form class="m-t" role="form" #cacr210v1Form="ngForm" (ngSubmit)="onSubmit(cacr210v1Form)">
                <div class="row">

                    <div class="col-md-3 col-md-offset-2 form-group" id="data_1">
                        <label class="col-sm-6 control-label">
                             F. Selección:
                        </label>
                        <div class="col-lg-6 input-group date">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input type="text" class="form-control" name="fechaSeleccion" ngModel>
                        </div>
                    </div>




                    <!-- <div class="col-md-3 col-md-offset-2 form-group">
                        <label class="col-sm-6 control-label">
                        F. Selección:
                        </label>
                        <div class="col-lg-6 input-group">
                            <input type="text" class="form-control" placeholder="ddmmyyyy" name="fechaSeleccion" ngModel>
                        </div>
                    </div> -->

                    <div class="col-md-5 form-group">
                        <label class="col-sm-4 control-label">
                        Suc :
                        </label>
                        <div class="col-lg-8 input-group">
                            <input type="text" placeholder="(999 todas)" class="form-control" name="codigoSucursal" ngModel>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-md-offset-2 form-group">
                        <label class="col-sm-6 control-label">
                        Estado:
                        </label>
                        <div class="col-lg-6 input-group">
                            <!-- <input type="text" placeholder="(Blancos, C, A, R) " class="form-control" name="codigoEstado" ngModel> -->
                            <select name="codigoEstado" [(ngModel)]="CodigoEstado">
                                <option value=" ">En Proceso</option>
                                <option value="C">Cancelado</option>
                                <option value="A">Aprobado</option>
                                <option value="R">Rechazado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5 form-group">
                        <label class="col-sm-4 control-label">
                        Mvo. Rechazo :
                        </label>
                        <div class="col-lg-8 input-group">
                            <select name="codigoMotivoRechazo" id="codigoMotivoRechazo" ngModel>
                              <option value="00" selected>Seleccione una opción</option>
                              <option *ngFor="let item of cacr215" [value]="item.WSMREC">{{item.WSMREC | lpad:2}} {{item.WSDESC}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <span class="input-group-btn">
                    <button type="button" type="submit" class="btn btn-primary">
                      <i class="fa fa-search"></i> Buscar
                    </button>
                  </span>
                </div>
            </form>

            <div class="row as400Table">
                <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="5">
                    <thead>
                        <tr>
                            <th>
                                Nro Cuenta
                            </th>
                            <th>
                                Tip
                            </th>
                            <th>
                                Fecha Alta.
                            </th>
                            <th>
                                Fecha Vcto.
                            </th>
                            <th>
                                Límite
                            </th>
                            <th>
                                Nuevo Vto
                            </th>
                            <th>
                                Estado
                            </th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cacr210Item of cacr210m01">
                            <td>
                                {{ cacr210Item.WSACCT | lpad:10 | formcuenta }}
                            </td>
                            <td>
                                {{ cacr210Item.WSDTRE }}
                            </td>
                            <td>
                                {{ cacr210Item.WSDATE | date:'dd/MM/yyyy' }}
                            </td>
                            <td>
                                {{ cacr210Item.WSAMND | date:'dd/MM/yyyy' }}
                            </td>
                            <td>
                                {{ cacr210Item.WSAAMT | lpad:3:true }}
                            </td>
                            <td>
                                {{ cacr210Item.WSNVTO | date:'dd/MM/yyyy' }}
                            </td>
                            <td>
                                {{ cacr210Item.WSDRES}}
                            </td>
                            <td>
                                <a class="btn btn-primary as400ButtonInTable" [routerLink]="['/cacr210v2', cacr210Item.WSACCT, cacr210Item.clave]">Ver</a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <ul class="pagination pull-right"></ul>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="row as400Footer">
        <div class="col lg-12" style="text-align: center;">
            <button class="btn btn-primary " type="button" [routerLink]="['/cacc200v1']">
        Regresar
      </button>
        </div>
    </div>

</div>

<script>
    jQuery(function($) {
        $('.table').footable({
            'rows': $.get(this.cacr210m01)
        });
    });
</script>