/* You can add global styles to this file, and also import other style files */

.app {
    border-radius: 4px;
    margin-top: 20px;
    padding: 30px;
    background: #fff;
}


/* HEADER */

.as400Header {
    border-bottom: 1px solid #676a6c;
}

.as400Header h2 {
    font-weight: bold;
}


/* BODY */

.as400Body {
    height: 500px
}

.as400BodyESO {
    height: 700px
}

.as400BodyCenter {
    width: 100%;
    position: absolute;
    top: 40%;
}

.as400Subtitle {
    text-align: center;
    height: 45px;
    padding-top: 10px;
}

.as400Table {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.as400TableESO {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.as400RowItem {
    margin-top: 10px;
    margin-bottom: 10px;
}


/* MENU ITEM */

.as400MenuItem {
    height: 45px;
}

.as400MenuItem div {
    height: 100%;
}

.as400MenuItem div>label {
    top: 20%;
    position: absolute;
    font-size: 16px;
}

.as400MenuItem div>button {
    top: 10%;
    position: absolute;
}


/* TABLE */

.as400ButtonInTable {
    font-size: 12px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}


/* FOOTER */

.as400Footer {
    border-top: 1px solid #676a6c;
    padding-top: 10px;
}



.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* SVG Loading*/
svg path,
svg rect{
  fill: black;
}